{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended", // eslint에서 제공하는 react 스타일 내장 기능
    "airbnb-base", // airbnb에서 제공하는 스타일 가이드 기능
    "prettier", // eslint와 prettier를 함께 쓰기 위한 기능
    "plugin:react/jsx-runtime", // react에서 JSX 활성화 기능
    "plugin:import/recommended" // eslint에서 제공하는 import 기능
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["import", "react", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }], // 파일 js, jsx 로 사용
    "react/function-component-definition": [
      0,
      { "namedComponents": "arrow-function" } // arrow-function 컴포넌트 사용
    ],
    "react-hooks/exhaustive-deps": "warn", // 의존성 배열 규칙
    "react-hooks/rules-of-hooks": "warn", // react hook 사용 규칙
    "no-console": "warn", // console 경고
    "no-alert": "warn", // alert 경고
    "react/prop-types": "off", // props-types 끄기
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "arrow-body-style": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {},
      "babel-module": {},
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
